<div id="homepage">
    <div id="entete">
        <h1>Articles</h1>
        <button>
            <lucide-icon name="plus"></lucide-icon>
            <a routerLink="add">Ajouter un article</a>
        </button>
    </div>

    <div id="articles">
        <div *ngFor="let article of articleService.articles$" class="article">
            <app-ui-article [article]="article" [routerLink]="'articles/'+ article.tid">
            </app-ui-article>
        </div>
    </div>
</div>