#entete {
    display: flex;
    justify-content: space-between;
}

#articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.article {
    width: 25%;
    height: 25%;
}