<h1>Ajouter un article</h1>
<form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <label> Le titre :
        <input type="text" [formControlName]="'title'">
    </label>
    <label> Le contenus :
        <input type="textarea" [formControlName]="'content'">
    </label>
    <label> Le résumé :
        <input type="textarea" [formControlName]="'summary'">
    </label>
    <label> Les tags :
        <input type="text" [formControlName]="'tags'">
    </label>
    <label> Votre email :
        <input type="text" [formControlName]="'userEmail'">
    </label>
    <button type="submit" [disabled]="!articleForm.valid">Valider</button>
</form>
<p>{{validator}}</p>