<div id="article-detail" *ngIf="articleService.article$">
    <h1>{{articleService.article$.title}}</h1>
    <h2>{{articleService.article$.user}} - {{articleService.article$.date}}</h2>
    <p>{{articleService.article$.content}}</p>
    <p>{{articleService.article$.tags}}</p>
    <button>
        <lucide-icon name="edit"></lucide-icon>
        <a [routerLink]="['/modify/',articleService.article$.tid]">Modifier l'article</a>
    </button>
</div>