<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/">Acceuil</a>
            </li>

            <li>
                <a routerLink="/connexion">Connexion</a>
            </li>
        </ul>
    </nav>
</header>