header {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;

        li {
            margin: 1rem;
        }
    }
}