<div class="form">
    <h1>Connexion</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label>Email :
            <input type="text" [formControlName]="'email'">
        </label>
        <label>Mot de passe :
            <input type="text" [formControlName]="'password'">
        </label>
        <button type="submit" [disabled]="!loginForm.valid">Valider</button>
    </form>
</div>