<h1>Modifier un article</h1>
<div id="form">
    <h2>{{articlesService.article$?.title}}</h2>
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
        <label> Le contenus :
            <input type="textarea" [formControlName]="'content'" placeholder="{{articlesService.article$?.content}}">
        </label>
        <button type="submit" [disabled]="!articleForm.valid">Valider</button>
    </form>
    <p>{{validator}}</p>
</div>